<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="../static/main.css">
    <link rel="stylesheet" type="text/css"  href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="header">
      <a href="{{ROOT}}zacetna_stran/" class="logo">Domov</a>
      <div class="header-left">
        <a href="{{ROOT}}nepremicnine/">Nepremičnine</a>
        <a href="{{ROOT}}agencije/">Agencije</a>
        <a href="{{ROOT}}regije/">Regije</a>
      </div>
      <div class="header-right">
        <a href="{{ROOT}}prijava/" >Prijava</a>
        <a href="{{ROOT}}registracija/"style="background-color: rgb(60,179,113);">Registracija</a>
      </div>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="{{ROOT}}static/main.css">
      <link rel="stylesheet" type="text/css"  href="{{ROOT}}static/style.css">
    {{!base}}
    </body>
</html>

