<!DOCTYPE html>
<html>

  <head>

    <link rel="stylesheet" type="text/css"  href="../static/styles.css.css">

  
    <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>

    <body>
    <div class="header">
      <a href="/zacetna_stran/" class="logo">Domov</a>
      <div class="header-left">
        <a href="/nepremicnine/">Nepremičnine</a>
        <a href="/agencije/">Agencije</a>
        <a href="/regije/">Regije</a>
      </div>
      <div class="header-right">
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
      </div>
    </div>
    {{!base}}
    </body>
</html>

