<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="../static/main.css">
    <link rel="stylesheet" type="text/css"  href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="header">
      <a href="/zacetna_stran/" class="logo">Domov</a>
      <div class="header-left">
        <a href="/nepremicnine/">Nepremičnine</a>
        <a href="/agencije/">Agencije</a>
        <a href="/regije/">Regije</a>
      </div>
      <div class="header-right">
        <a href="/prijava/" >Prijava</a>
        <a href="/registracija/"style="background-color: rgb(147, 147, 253);">Registracija</a>
      </div>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="../static/main.css">
      <link rel="stylesheet" type="text/css"  href="../static/style.css">
    {{!base}}
    </body>
</html>

