% rebase('base.html', ROOT = ROOT, stanje=stanje)

<body class="text-center">
    <div align="center">
    <form action='{{ROOT}}dodaj_nepremicnine/' class="form-signin text-center" method="post" style="width: 30%;margin-top: 5cm">
        <div class="h3 mb-3 font-weight-normal">
          <h2><b>Dodaj nepremičnine, za prodajo ali oddajo.</b></h2>
          <p>Nepremičnine bodo vidne ostalim uporabnikom.</p>
          <b><p>Izpolnite naslednja polja.</p></b>

          %if napaka == 1:
          <p style="color:red"> Izpolnite vsa polja.</p>
          %end
          %if napaka == 2:
          <p style="color:red"> To ime je že uporabljeno. </p>
          %end
          %if napaka == 3:
          <p style="color:red"> Vnešeni podatki nimajo smisla.</p>      
          %end
          %if napaka == 4:
          <p style="color:red"> Ta agencija ne obstaja.</p>     
          %end
          %if napaka == 5:
          <p style="color:red"> To ime že obstaja.</p>     
          %end          

          <label for="name"><b>Ime: </b></label>
          <input type="text" class="form-control" placeholder="Vnesite ime vaše nepremičnine:" name="ime" value='{{ime}}'>
          <br>
          <label for="type"><b>Vrsta: </b></label>
          <input type="text" placeholder="Vnesite vrsto nepremičnine:" name="vrsta" value='{{vrsta}}'>
          <br>
          <label for="text"><b>Opis: </b></label>
          <input type="text" placeholder="Vnesite opis:" name="opis" value='{{opis}}'>
          <br>
          <label for="year"><b>Leto izgradnje: </b></label>
          <input type="text" class="form-control" placeholder="Vnesite leto izgradnje:" name="leto" value='{{leto}}'>
          <br>
          <label for="int"><b>Vnesite velikost zemljisca: </b></label>
          <input type="text" placeholder="Vnesite velikost zemljišča:" name="zemljisce" value='{{zemljisce}}'>
          <br>
          <label for="int"><b>Vnesi velikost nepremičnine: </b></label>
          <input type="text" placeholder="Vnesite velikost zemljisca:" name="velikost" value='{{velikost}}'>
          <br>
          <br>
          <label for="int"><b>Vnesi ceno nepremičnine: </b></label>
          <input type="text" placeholder="Vnesite ceno nepremicnine:" name="cena" value='{{cena}}'>
          <br>
          <label for="text"><b>Vnesi ime agencije: </b></label>
          <input type="text" placeholder="Vnesi ime agencije:" name="agencija" value='{{agencija}}'>
          <br>
          <label for="text"><b>Vnesi ime regije: </b></label>
          <input type="text" placeholder="Vnesite ime regije:" name="regija" value='{{regija}}'>
          <br>          
          <br>
          <input type="checkbox" checked="checked" name="agree" style="margin-bottom:15px"> Strinjam se s pogoji uporabe
          <a href="#" style="color:dodgerblue">Terms & Privacy</a>
      
          <div class="clearfix">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
          </div>
        </div>           
      </form>
    </div>