% rebase('base.html', ROOT = ROOT, stanje=stanje)

<body class="text-center">
    <div align="center">
    <form action='{{ROOT}}dodaj_nepremicnine/' class="form-signin text-center" method="post" style="width: 30%;margin-top: 5cm">
        <div class="h3 mb-3 font-weight-normal">
          <h2><b>Dodaj nepremičnine, za prodajo ali oddajo.</b></h2>
          <p>Nepremičnine bodo vidne ostalim uporabnikom.</p>
          <b><p>Izpolnite naslednja polja.</p></b>

          %if napaka == 1:
          <p style="color:red"> Izpolnite vsa polja.</p>
          %end
          %if napaka == 2:
          <p style="color:red"> To ime je že uporabljeno. </p>
          %end
          %if napaka == 3:
          <p style="color:red"> Vnešeni podatki nimajo smisla.</p>      
          %end
          %if napaka == 4:
          <p style="color:red"> Ta agencija ne obstaja.</p>     
          %end
          %if napaka == 5:
          <p style="color:red"> To ime že obstaja.</p>     
          %end          

          <label for="name"><b>Ime: </b></label>
          <input type="text" class="form-control" placeholder="Vnesite ime vaše nepremičnine:" name="ime" value='{{ime}}'>
          <br>
          <label for="type"><b>Vrsta: </b></label>
          <input type="text" placeholder="Vnesite vrsto nepremičnine:" name="vrsta" value='{{vrsta}}'>
          <br>
          <label for="text"><b>Opis: </b></label>
          <input type="text" placeholder="Vnesite opis:" name="opis" value='{{opis}}'>
          <br>
          <label for="year"><b>Leto izgradnje: </b></label>
          <input type="text" class="form-control" placeholder="Vnesite leto izgradnje:" name="leto" value='{{leto}}'>
          <br>
          <label for="int"><b>Vnesite velikost zemljisca: </b></label>
          <input type="text" placeholder="Vnesite velikost zemljišča:" name="zemljisce" value='{{zemljisce}}'>
          <br>
          <label for="int"><b>Vnesi velikost nepremičnine: </b></label>
          <input type="text" placeholder="Vnesite velikost zemljisca:" name="velikost" value='{{velikost}}'>
          <br>
          <br>
          <label for="int"><b>Vnesi ceno nepremičnine: </b></label>
          <input type="text" placeholder="Vnesite ceno nepremicnine:" name="cena" value='{{cena}}'>
          <br>
          <label for="text"><b>Vnesi ime agencije: </b></label>
          <p>Lahko izbirate med naslednjimi agencijami, s katerimi boste sodelovali.</p>
          <select name="agencija" id="agencija_id" value="{{agencija}}">
            <option value="1">YES NEPREMIČNINE, nepremičninska agencija, d.o.o.</option>
            <option value="2">Mreža nepremičnin d.o.o.</option>
            <option value="3">Salomon d.o.o. Ljubljana</option>
            <option value="4">Harmonija nepremičnine Ksenja Kokalj s.p.</option>
            <option value="5">MESTO NEPREMIČNIN d.o.o.</option>
            <option value="6">ABC nepremičnine d.o.o.</option>
            <option value="7">STAN nepremičnine d.o.o., Ljubljana</option>
            <option value="8">Stoja trade, d.o.o., Ljubljana</option>
            <option value="9">Zasebna ponudba</option>
            <option value="10">S-Invest d.o.o.</option>
            <option value="11">Casa 69 d.o.o.</option>
            <option value="12">Studio 68 d.o.o.</option>
            <option value="542">Naša agencija</option>
          </select>
          <br>
          
          <label for="text"><b>Vnesi ime regije: </b></label>
            <select name="regija" id="regija_id" value="{{regija}}">
              <option value="1">Ljubljana mesto</option>
              <option value="2">Ljubljana okolica</option>
              <option value="3">Gorenjska</option>
              <option value="4">Južna Primorska</option>
              <option value="5">Severna Primorska</option>
              <option value="6">Notranjska</option>
              <option value="7">Savinjska</option>
              <option value="8">Podravska</option>
              <option value="9">Koroška</option>
              <option value="10">Dolenjska</option>
              <option value="11">Posavska</option>
              <option value="12">Zasavska</option>
              <option value="13">Pomurska</option>
            </select>
          </form>
          <input type="checkbox" checked="checked" name="agree" style="margin-bottom:15px"> Strinjam se s pogoji uporabe
          <a href="#" style="color:dodgerblue">Terms & Privacy</a>
          <br>          
          <br>
          
          <div class="clearfix">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
          </div>
        </div>           
      </form>
    </div>


