% rebase('base.html', ROOT=ROOT, stanje=stanje)

<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>Ime</th>
    <th>Vrsta</th>
    <th>Opis</th>
    <th>Leto izgradnje</th>
    <th>Zemljišče</th>
    <th>Velikost</th>
    <th>Cena</th>
    <th>Agencija</th>
    <th>Regija</th>
    %if stanje != 0:
    <th>Dodaj med priljubljene</th>
    %end
</tr>

%for (id, ime, vrsta, opis, leto_izgradnje, zemljisce, velikost, cena, agencija_id, regija_id, agencija, regija) in nepremicnine:
    <tr>
        <th>{{ime}}</th>
        <th>{{vrsta}}</th>
        <th>{{opis}}</th>
        <th>{{leto_izgradnje}}</th>
        <th>{{zemljisce}}</th>
        <th>{{velikost}}</th>
        <th>{{cena}}</th>
        <th><a href="{{ROOT}}agencije/{{agencija_id}}">{{agencija}}</th>
        <th><a href="{{ROOT}}regije/{{regija_id}}">{{regija}}</th>
        %if stanje != 0:
        <th><a class='button' href="{{ROOT}}nepremicnine/{{id}}">Dodaj</a></th>
        %end
        </tr>
%end

</table>