% rebase('base.html', ROOT=ROOT, stanje=stanje)

<form>
    <b>Išči po imenih nepremičnin:</b>
    <input type="text" id="vnos_iskanja" class="form-control" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Iskanje...">
</form>

<table id="tabela" cellpadding="0" cellspacing="0" border="1">

<tr>
    <h2><b>Nepremičnine:</b></h2>
</tr>
<tr>
    <th>Ime</th>
    <th>Vrsta</th>
    <th>Opis</th>
    <th>Leto izgradnje</th>
    <th>Zemljišče</th>
    <th>Velikost</th>
    <th>Cena</th>
    <th>Agencija</th>
    <th>Regija</th>
    %if stanje != 0:
    <th>Dodaj med priljubljene</th>
    %end
</tr>

%for (id, ime, vrsta, opis, leto_izgradnje, zemljisce, velikost, cena, agencija_id, regija_id, agencija, regija) in nepremicnine:
    <tr>
        <td>
            <form action="{{ROOT}}agencije/{{id}}" method="GET">
                <a href="#" onclick="this.parentElement.submit()">{{ime}}</a>
            </form>
        </td>
        <td>{{vrsta}}</td>
        <td>{{opis}}</td>
        <td>{{leto_izgradnje}}</td>
        <td>{{zemljisce}}</td>
        <td>{{velikost}}</td>
        <td>{{cena}}</td>
        <td><a href="{{ROOT}}agencije/{{agencija_id}}">{{agencija}}</td>
        <td><a href="{{ROOT}}regije/{{regija_id}}">{{regija}}</td>
        %if stanje != 0:
        <td><a class='button' href="{{ROOT}}nepremicnine/{{id}}">Dodaj</a></td>
        %end
    </tr>
%end

</table>

