% rebase('base.html', ROOT=ROOT, stanje=stanje)
<br>
<h2><b>Nepremičnine:</b></h2>
<h1><b>Število sob:</b></h1>

<form action="/action_page.php">
<div class="row">
    <div class="item1">
        <input type="checkbox" id="option1" name="option1" value="Bike">
        <label for="option1">garsonjera</label><br>
    </div>
    <div class="item2">
        <input type="checkbox" id="option2" name="option2" value="Bike">
        <label for="option2">enosobno</label><br>
    </div>

    <div class="item3">
        <input type="checkbox" id="option3" name="option3" value="Bike">
        <label for="option3">dvosobno</label><br>
    </div>

    <div class="item4">
        <input type="checkbox" id="option4" name="option4" value="Bike">
        <label for="option4">trisobno</label><br>
    </div>

    <div class="item5">
        <input type="checkbox" id="option5" name="option5" value="Bike">
        <label for="option5">več sobno</label><br>
    </div>

    <div class="item6">
        <input type="checkbox" id="option6" name="option6" value="Bike">
        <label for="option6">ostalo</label><br>
    </div>
</div>

<h1><b>Velikost objekta: (m^2)</b></h1>

    <div class="row">
        <div class="item1">
            <input type="checkbox" id="option7" name="option7" value="Bike">
            <label for="option7">do 100</label><br>
        </div>
        <div class="item2">
            <input type="checkbox" id="option8" name="option8" value="Bike">
            <label for="option8">med 100 in 200</label><br>
        </div>
    
        <div class="item3">
            <input type="checkbox" id="option9" name="option9" value="Bike">
            <label for="option9">med 200 in 300</label><br>
        </div>
    
        <div class="item4">
            <input type="checkbox" id="option10" name="option10" value="Bike">
            <label for="option10">nad 300</label><br>
        </div>
    </div>

    <h1><b>Leto izgradnje:</b></h1>

    <div class="row">
        <div class="item1">
            <input type="checkbox" id="option11" name="option11" value="Bike">
            <label for="option11">pred 1980</label><br>
        </div>
        <div class="item2">
            <input type="checkbox" id="option12" name="option12" value="Bike">
            <label for="option12">med 1980 in 1995</label><br>
        </div>
    
        <div class="item3">
            <input type="checkbox" id="option13" name="option13" value="Bike">
            <label for="option13">med 1995 in 2010</label><br>
        </div>
    
        <div class="item4">
            <input type="checkbox" id="option14" name="option14" value="Bike">
            <label for="option14">po 2010</label><br>
        </div>
    </div>

  <input type="submit" value="Submit">
</form>

<!-- =========================================================================================== -->

    <br>

    <b>Išči po imenih nepremičnin:</b>

    <form>
        <input type="text" id="vnos_iskanja" style="width: 500px; height: 50px" onkeyup="funkcija_iskanja_po_tabeli()" placeholder="Iskanje...">
    </form>

<table id="tabela" cellpadding="0" cellspacing="0" border="1">

<tr>
    <th>Ime</th>
    <th>Vrsta</th>
    <th>Opis</th>
    <th>Leto izgradnje</th>
    <th>Zemljišče</th>
    <th>Velikost</th>
    <th>Cena</th>
    <th>Agencija</th>
    <th>Regija</th>
    %if stanje != 0:
    <th>Dodaj med priljubljene</th>
    %end
</tr>

%for (id, ime, vrsta, opis, leto_izgradnje, zemljisce, velikost, cena, agencija_id, regija_id, agencija, regija) in nepremicnine:
    <tr>
        <td>
            <form action="{{ROOT}}nepremicnine/{{id}}" method="GET">
                <a href="{{ROOT}}nepremicnine/{{id}}" onclick="this.parentElement.submit()">{{ime}}</a>
            </form>
        </td>
        <td>{{vrsta}}</td>
        <td>{{opis}}</td>
        <td>{{leto_izgradnje}}</td>
        <td>{{zemljisce}}</td>
        <td>{{velikost}}</td>
        <td>{{cena}}</td>
        <td><a href="{{ROOT}}agencije/{{agencija_id}}">{{agencija}}</td>
        <td><a href="{{ROOT}}regije/{{regija_id}}">{{regija}}</td>
        %if stanje != 0:
        <td><a class='button' href="{{ROOT}}nepremicnine/{{id}}">Dodaj</a></td>
        %end
    </tr>
%end

</table>

