% rebase('base.html', ROOT = ROOT, stanje=stanje)

<br>
<h2><b>Vaše dodane nepremičnine:</b></h2>

%if nepremicnine != []:
<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>Ime</th>
    <th>Vrsta</th>
    <th>Opis</th>
    <th>Leto izgradnje</th>
    <th>Zemljišče</th>
    <th>Velikost</th>
    <th>Cena</th>
    <th>Agencija</th>
    <th>Regija</th>
    <th>Odstrani nepremičnino</th>
</tr>

%for (id, ime, vrsta, opis, leto_izgradnje, zemljisce, velikost, cena, agencija_id, regija_id, agencija, regija) in nepremicnine:
    <tr>
        <th>            
            <form action="{{ROOT}}nepremicnine/{{id}}" method="GET">
            <a href="{{ROOT}}nepremicnine/{{id}}" onclick="this.parentElement.submit()">{{ime}}</a>
            </form>
        </th>
        <th>{{vrsta}}</th>
        <th>{{opis}}</th>
        <th>{{leto_izgradnje}}</th>
        <th>{{zemljisce}}</th>
        <th>{{velikost}}</th>
        <th>{{cena}}</th>
        <th><a href="{{ROOT}}agencije/{{agencija_id}}">{{agencija}}</th>
        <th><a href="{{ROOT}}regije/{{regija_id}}">{{regija}}</th>
        <form action='{{ROOT}}tvoje_nepremicnine/{{id}}' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
        <th><input value='Odstrani' type='submit' /></th>
        </form>
        </tr>
%end
%end
%if nepremicnine == []:
<h2>Nimate še nobenih dodanih nepremičnin.</h2>
%end
</table>