% rebase('base.html', ROOT = ROOT, stanje=stanje)

<b>Sedaj ste prijavljeni.</b>


<h1>Pozdravljeni {{ime}} {{priimek}}</h1>

<a>Kaj želite storiti?</a>


<div style='position: relative;margin: auto;max-width: 55%;'>
    <div class="row">
      <div class="item1">
        <center><h3>Regije</h3>
        <p>Izberi regijo v katerem iščete nepremičnino.</p>
        <a href="{{ROOT}}regije/" class="button">Seznam regije</a></center>
      </div>
      <div class="item2">
        <center><h3>Nepremičnine</h3>
        <p>Oglej si vse naše nepremičnine.</p>
        <a href="{{ROOT}}nepremicnine/" class="button">Seznam nepremičnin</a></center>
      </div>
      <div class="item3">
        <center><h3>Agencije</h3>
        <p>Svoje načrtovanje zaupaj eni izmed agencij.</p>
        <a href="{{ROOT}}agencije/" class="button">Seznam agencij</a></center>
      </div>
    </div>




