% rebase('base.html', ROOT = ROOT, stanje=stanje)

<br>

<h2 align=center><b>Pozdravljeni {{ime}} {{priimek}}, kaj želite storiti?</h2></b>

<br>

<div align=center style='position: relative;margin: auto;max-width: 60%;'>
    <div class="row">
      <div class="item1">
        <center><h3>Vaše nepremičnine</h3>
        <p>Nepremičnine, ki jih prodajate.</p>
        <a href="{{ROOT}}tvoje_nepremicnine/" class="button">Seznam nepremičnin</a></center>
      </div>
      <div class="item2">
        <center><h3>Preglejte priljubljene</h3>
        <p>Oglejte si svoje priljubljene nepremičnine.</p>
        <a href="{{ROOT}}priljubljene/" class="button">Seznam priljubljenih</a></center>
      </div>
      <div class="item3">
        <center><h3>Dodajte nepremičnine</h3>
        <p>Dodajte nepremičnine, ki jih želite prodati.</p>
        <a href="{{ROOT}}dodaj_nepremicnine/" class="button">Dodajte novo</a></center>
      </div>
    </div>
</div>




