% rebase('base.html', ROOT = ROOT, stanje=stanje)

<b>Sedaj ste prijavljeni.</b>


<h1>Pozdravljeni {{ime}} {{priimek}}, kaj želite storiti?</h1>



<div style='position: relative;margin: auto;max-width: 60%;'>
    <div class="row">
      <div class="item1">
        <center><h3>Preglej nepremičnine</h3>
        <p>Oglej si vse nepremičnine.</p>
        <a href="{{ROOT}}nepremicnine/" class="button">Seznam nepremičnin</a></center>
      </div>
      <div class="item2">
        <center><h3>Preglej priljubljene</h3>
        <p>Oglej si vse svoje priljubljene nepremičnine.</p>
        <a href="{{ROOT}}priljubljene/" class="button">Seznam priljubljenih</a></center>
      </div>
      <div class="item3">
        <center><h3>Dodaj nepremičnine</h3>
        <p>Dodaj svoje nepremičnine, ki jih želiš prodati.</p>
        <a href="{{ROOT}}dodaj_nepremicnine/" class="button">Dodaj</a></center>
      </div>
    </div>
</div>




