% rebase('base.html', ROOT=ROOT)
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="{{ROOT}}static/slike/hisa1.jpg" class="photo" width="4000" height="600">
      <div class="text">ABC nepremičnine</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="{{ROOT}}static/slike/slika2.jpg" class="photo" width="4000" height="600"> 
      <div class="text">MESTO NEPREMIČNIN</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="{{ROOT}}static/slike/hisa3.jpg" class="photo" width="4000" height="600">
      <div class="text">YES NEPREMIČNINE</div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
      <p>
        <br>
      </p>
    </div>
    
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>


<div style='position: relative;margin: auto;max-width: 55%;'>
  <div class="row">
    <div class="item1">
      <center><h3>Regije</h3>
      <p>Izberi regijo v katerem iščete nepremičnino.</p>
      <a href="{{ROOT}}regije/" class="button">Seznam regije</a></center>
    </div>
    <div class="item2">
      <center><h3>Nepremičnine</h3>
      <p>Oglej si vse naše nepremičnine.</p>
      <a href="{{ROOT}}nepremicnine/" class="button">Seznam nepremičnin</a></center>
    </div>
    <div class="item3">
      <center><h3>Agencije</h3>
      <p>Svoje načrtovanje zaupaj eni izmed agencij.</p>
      <a href="{{ROOT}}agencije/" class="button">Seznam agencij</a></center>
    </div>
  </div>

  <p>
  <br>
  <br>
  <br>
  </p>

  </div>



 